
html, body {
    margin: 0;
    height: 100%;
}

body
{
    background-color: black;
    color: red;
}

button
{
    background-color: red;
}

header
{
    text-align: center;
}

input[type=checkbox]
{
    transform: scale(2);
}

.block
{
    background-color: white;
    border: 1px dashed grey;
}

#inputs
{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    width: 70vw;
    height: 5vh;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 5px solid red;
}



#map
{
    display: grid;
    width: 70vmin;
    height: 70vmin;
    margin: auto;
    border: 10px solid red;
}

